@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root   {

    --cor-background: #000022;
    --cor-primaria: #263a70;
    --cor-secundaria: #ecf5f8;
    --cor-terciaria: #040F16;
    --cor-hover: #5081FB;

    --fundo-botao: url(/assets/fundo-botao.svg);

    --fonte-primaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-background)
}

.apresentacao {
    width: 100%;
    display:flex;
    margin: 0;
    padding: 0;

}

.cabecalho {
    margin-top: 2%;
    width: 80%;
    padding: 0;
    display: flex;
    justify-content:space-between;
    
}
.cabecalho img {
    margin:0;

}

.container-menu-esquerdo {
    width: 25%;
    margin-left: 10%;
    margin-top: 5%;

}

.container-perfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.nome-usuario {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 200;
}

.menu-esquerdo {
    display: flex;
    flex-direction: column;
}


.menu-esquerdo-titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 12px;
    margin: 0 0 0 0;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
}

.botao  {
    
}

.menu-esquerdo-abas{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:left;
    gap: 10px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    margin: 10px 0px;
    font-size: 13px;

    
}

.menu-esquerdo-abas img {
    background-image: url()




}

.menu-esquerdo-abas :hover {
   
}

.menu-esquerdo-abas ::selection {
    background-image: var();
}

.container-pesquisa {
     margin: 5% 0 0 5%;
     /* border: 1px solid red; */
}

.barra-pesquisa{
    position:static;
    display: flex;
    width: 600px;
    background: var(--cor-primaria);
    border-radius: 10px;
    padding: 10px 20px;
}

.barra-pesquisa input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: #ecf5f8;
}
 .barra-pesquisa ::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 100;
    font-style: italic;
 }

 .barra-pesquisa button {
    background: transparent;
    border: 0;
 }

.conteudo-meio {
    margin: 5%;
    display: flex;
    padding: 10px 20px;
    width: 600px;
    height: 300px;
    align-items: center;
    flex-direction: column;
    background: var(--cor-primaria);
    border-radius: 8px;
}

.conteudo-meio img {
    margin: 2%;
    margin-top: 3%;
    margin-right: 85%;
    display: flex;
  
}

.titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 2rem;

}

.container-menu-direito {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-top: 5%;
    margin-left: 5%;
    gap: 16px;

}

.menu-direito-titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 200;  
    font-size: 12px;
    margin: 0 0 0 0;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
}

.nome-projeto {
    display: flex;
    width: 200px;
    height: 30px;
    background: var(--cor-primaria);
    border-radius: 8px;
    padding: 10px 20px;
    
}
  .nome-projeto input {
    background: transparent;  
    flex: 1;
    border: 0;
    outline: none;
    color: var(--cor-secundaria);
    font-size: 13px;
    font-family: var(--fonte-primaria);
    font-weight: 200;
}

.nome-projeto ::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 100;
    font-size: 13px;
}
.descricao-projeto {
    display: flex;
    width: 200px;
    height: 60px;
    background: var(--cor-primaria);
    border-radius: 8px;
    padding: 10px 20px;
    
}
  .descricao-projeto input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    color: var(--cor-secundaria);
    font-size: 13px;
    font-family: var(--fonte-primaria);
    font-weight: 200;
}

.descricao-projeto ::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 100;
    font-size: 13px;
}

.personalizacao-titulo {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 200;  
    font-size: 12px;
    margin: 0 0 0% 0;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
}

.personalizacao-select {
    position: relative;
    padding: 12px 12px;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: 0;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 13px;
    border-radius: 8px;
}

.salvar-projeto {
    position: relative;
    height: 50px;
    padding: 12px;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: 0;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    font-size: 13px;
    border-radius: 8px;
}

.salvar-projeto:hover {
    background-color: var(--cor-hover);
}


